<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <div class="sidebar-brand">&#923;&#934;&#917;</div>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.facebook.com/neulambdas" target="_blank"><i class="fa fa-1x fa-facebook"></i></a></li>
                <li><a target="_blank" class="icon" href="#" onclick="window.open('http://neu.orgsync.com/org/neulambdas/Moments','','width=720,height=480,scrollbars=no,resizable=no,location=no,menubar=no,toolbar=no')"><i class="fa fa-1x fa-camera-retro"></i></a></li>
                <li><a href="mailto:neulambdas@gmail.com"><i class="fa fa-1x fa-envelope"></i></a></li>
                <li id="toggle"><a href="#"><i class="fa fa-1x fa-bars"></i></a></li>
            </ul>
        </div>
    </div>
</header>