<title>Northeastern University Lambda Phi Epsilon</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Northeastern, University, Lambda, Phi, Epsilon">
<meta name="description" content="Northeastern University Lambda Phi Epsilon">
<meta name="author" content="Alexander Seeto">
<link rel="icon" href="img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
<link rel="stylesheet" type="text/css" href="/css/smoothDivScroll.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css"></style>