<div id="section-mission" class="section">
    <div class="mission-content-wrap">
        <h1>Mission</h1>
        <div class="mission-row">
            <div id="university" class="mission col-md-3 pull">
                <i class="fa fa-4x fa-university"></i>
                <p>Develop leaders through training and hands-on experience, to advance personal growth, and to achieve academic excellence.</p>
            </div>
            <div class="filler1 col-md-3"></div>
            <div class="filler2 col-md-3" id="formals"></div>
            <div class="filler1 col-md-3"></div>
        </div>
        <div class="mission-row">
            <div class="filler1 col-md-3"></div>
            <div id="heartbeat" class="mission col-md-3 pull">
                <i class="fa fa-4x fa-heartbeat"></i>
                <p>Perpetuate leadership of our alumni members in the community, create opportunities, and encourage the spirit of fellowship.</p>
            </div>
            <div class="filler1 col-md-3 push"></div>
            <div id="crest" class="mission col-md-3"></div>
        </div>
        <div class="mission-row">
            <div class="filler2 col-md-3" id="brotherhood"></div>
            <div class="filler1 col-md-3"></div>
            <div id="user-plus" class="mission col-md-3 pull">
                <i class="fa fa-4x fa-user-plus"></i>
                <p>Promote positive Asian American awareness and provide the highest level of philanthropy in the community.</p>
            </div>
            <div class="filler2 col-md-3" id="recruitment"></div>
        </div>
    </div>
</div>