<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li id="nav1" class="active"><a href="#home"><i class="fa fa-2x fa-home"></i><span>Home</span></a></li>
        <li id="nav2"><a href="#mission"><i class="fa fa-2x fa-info-circle"></i><span>Mission</span></a></li>
        <li id="nav3"><a href="#story"><i class="fa fa-2x fa-book"></i><span>Story</span></a></li>
        <li id="nav4"><a href="#family"><i class="fa fa-2x fa-users"></i><span>Family</span></a></li>
        <li id="nav5"><a href="#eboards"><i class="fa fa-2x fa-suitcase"></i><span>Executive Boards</span></a></li>
        <li id="nav6"><a href="#chapters"><i class="fa fa-2x fa-map-marker"></i><span>Chapters</span></a></li>
    </ul>
</div>