<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>

<body>

<center><h2>Database Results</h2></center>

<div class="container">


<% console.log(req) %><br><br><br>
<% console.log(resp) %><br><br><br>
<%= dburl %>

</div>

</body>
</html>
